
.my-footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.room-image {
    max-width: 50%;

}

.notie-container {
    box-shadow: none;
}

.redText{
    color: red;
}

.datepicker
{
    z-index: 10000;}
.swal2-actions {
    z-index: 0 ! important;
}